{% extends 'base.html.twig' %}
{% block title %}La boutique A - Inscription{% endblock %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('assets/css/register.css')}}">{% endblock %}
{% block javascript %} <script src="{{ asset('assets/js/errorRegister.js')}}"></script>{% endblock %}

{% block content %}
<div class="register-content">
    <div class="bloc-content" >
     <h1>Inscription</h1>   

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{form_errors(form.email)}}

        <div class="first-last-name">
        <div>
                    {{ form_widget(form.firstname)}}
{%- if form.firstname is defined and form.firstname.vars.errors|length > 0 -%}
        {%- for error in form.firstname.vars.errors -%}
            <span class="d-block">
                <span class="form-error-message">{{ error.message }}</span>
            </span>
        {%- endfor -%}
    </span>
{%- endif %}
                </div>

                <div>
                    {{ form_widget(form.lastname) }}


                </div>

        </div>
        
        <div>
            {{ form_widget(form.email) }}
        </div>

        <div>
            {{ form_widget(form.password.first) }}
        </div>

        <div>
            {{ form_widget(form.password.second) }}
        </div>

            {{ form_widget(form.birthdate) }}
        

        <div>
            {{ form_widget(form.submit) }}
        </div>
    {{ form_end(form) }}

    </div>
   
{% endblock %}

{% block footer %}
{% endblock %}