{% extends 'base.html.twig' %}
{% block title %}La boutique A - Inscription{% endblock %}

{% block content %}
<div class="register-content">

    <h1>Inscription</h1>   

    {{ form_start(form, {'attr': {'class': 'form_register'}}) }}

        <div>
            {{ form_widget(form.firstname)}}
        </div>

        <div>
            {{ form_widget(form.lastname) }}
        </div>

        <div>
            {{ form_widget(form.email) }}
        </div>

        <div>
            {{ form_widget(form.password) }}
        </div>

        <div>
            {{ form_widget(form.birthdate) }}
        </div>

        <div>
            {{ form_widget(form.submit) }}
        </div>
    {{ form_end(form) }}

{% endblock %}