<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<!--<meta http-equiv="refresh" content="5">
-->

<title>{% block title %}Aura - Boutique à parfums{% endblock %}</title>

</head>
<body>

{% block header %}
  <div class="header">
    <div class="header-top">
      <div>
        <a href="{{path ('app_home')}}">Qui somme-nous ?</a>
        <a href="{{path ('app_home')}}">Contact</a> 
      </div>
      <div class="title">
        <a href="{{path ('app_home')}}">Aura</a> 
      </div>
      <div>    
        {% if app.user %}
        <a href="{{path ('app_account')}}">Mon compte</a> 
        <a href="{{path ('app_logout')}}">Déconnexion</a>
        <a href="#">Mon panier</a> 
        {% else %}
        <a href="{{path ('app_login')}}">Connexion</a>
        <a href="{{path ('register')}}">Inscription</a>
        <a href="#">Mon panier</a> 
        {% endif %}
      </div>
    </div>

  </div>
{% endblock %}
<div class="content">    
{% block content %}

      <div class="header-content">
      <p>
        <!--Découvrez l'art olfactif avec notre collection exquise de parfums. Plongez dans l'univers envoûtant de la fragrance où chaque flacon raconte une histoire unique. Explorez nos produits ici : -->
      Découvrez nos parfums :
      </p>
      <a href="{{path ('app_home')}}">Nos produits</a>

    </div>


{% endblock %}
</div>

{% block footer %}
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus repellat recusandae hic reprehenderit ex amet nam cupiditate maiores libero molestiae, cum officiis aperiam sapiente quis atque ullam dolores assumenda quisquam!</p>
{% endblock %}
</html>