<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% block title %}La Boutique A{% endblock %}</title>

</head>
<body>

{% block header %}

      <a href="{{path ('app_home')}}">Accueil</a> 

    {% if app.user %}
      <a href="{{path ('app_account')}}">mon compte</a> | <a href="{{path ('app_logout')}}">deconnexion</a>
    {% else %}
      <a href="{{path ('app_login')}}">connexion</a>/ <a href="{{path ('register')}}">inscription</a>
    {% endif %}

{% endblock %}
    
{% block content %}

<p>bienvenue sur la boutique A</p>
{% endblock %}



</html>